.container-lg {
    height: 100vh;
    display: flex;
}

.card {
    // height: 90%;
    width: 100%;
    background-color: #24262D;
    border-radius: 8px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0px 7px 25px -12px rgb(0, 0, 0), 
        0px 12px 20px -15px rgb(0, 0, 0),
        0px 45px 50px -45px rgba(0, 0, 0, 0.5);
}

.back-button {
    cursor: pointer;
}

.back-button span,
.back-button i {
    color: #f4d35e;
}

.avatar img {
    border-radius: 50%;
}

h1 {
    font-size: calc(1.1rem + 1.96428571vw);
}

.card-content {
    min-width: 80%;
    max-width: 100%;
}

